<style>

  .jumbotron {
        margin: 15px;
        padding: 40px;
    }

    #jobtitle {
        padding: 15px;
    }

    .display-4,
    #jobtitle, #jumbotitle, .lead {
        text-align: center;
    }

    .job {
        margin: 20px;
    }

   .searchbar, .dropdwn {
       margin: 25px;
   }

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    Job Pool
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" id="logoutBtn">
          Log Out
        </a>
    
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/upload">
          Upload Job
        </a>
      </li>

      {{! <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> }}
    </ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      Welcome to Job Pool, {{username}}
    </h1>
    <p class="lead">
      This is a simple app that help employers and future workers get jobs an easy and convenient way.
    </p>
    <hr class="my-4"/>
    <h2 id="jumbotitle">Search for jobs right now!</h2>
    <div class="row justify-content-around mx-auto searchbar">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
    <div class="row justify-content-around mx-auto dropdwn">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle dropbtn"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" value="Health">
            Health
          </a>
          <a class="dropdown-item" value="Technology">
            Technology
          </a>
          <a class="dropdown-item" value="Engenieering">
            Engenieering
          </a>
          <a class="dropdown-item" value="Education">
            Education
          </a>
          <a class="dropdown-item" value="Marketing">
            Marketing
          </a>
          <a class="dropdown-item" value="Law">
            Law
          </a>
          <a class="dropdown-item" value="Design">
            Design
          </a>
        </div>
      </div>
    </div>

  </div> 
  {{!-- end of jumbotron --}}

  <h1 id="jobtitle">
    Jobs
  </h1>
  <div class="jobs">
    {{#each jobArrays}}
      <div class="page" id="page{{math @index "+" 1}}">
      {{#each this}}
        <div class="job">
          <div class="card text-center">
            <div class="card-body">
              <h2 class="card-title">
                {{this.position}}
              </h2>
              <h5 class="card-title">
                {{this.company}}
              </h5>
              <p class="card-text">
                {{this.description}}
              </p>
              <a href="#" class="btn btn-primary">
                Apply Now
              </a>
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="mx-auto">Categorie: {{this.category}}</div>
              </div>
              <div class="row">
                <div class="mx-auto">Data Created: {{this.created_at}}</div>
              </div>
            </div>

          </div>
        </div>
      {{/each}}
      </div>
    {{/each}}
  </div> 
  {{!-- end of jobs div --}}
  <div class="row justify-content-around mx-auto dropdwn">
    <nav aria-label="...">
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a class="page-link" value="1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" value="2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" value="3">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" value="4">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" value="5">5</a>
        </li>

      </ul>
    </nav>  
  </div>

<script src="https://code.jquery.com/jquery.js"></script>


<script>


  $('#logoutBtn').on('click', function(){
    document.cookie = 'user' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    location.href = "/";
  })
  
  var paginator = () => {
    var num = $(this).attr("value");
    $(".page").hide()
    $("#page" + 1).show()
  }
  paginator()
  $(".page-link").on("click", function () {
    var num = $(this).attr("value");
    $(".page").hide()
    $("#page" + num).show()
  })
  $('.dropdown-item').on("click", function (event) {
    $('.dropbtn').text($(this).attr('value'))
    })
  
  
//$("ul li").length; look if page is empty
</script>